# =============== #
# Unity generated #
# =============== #
Temp
Obj
UnityGenerated
Library
AssetsAssetStoreTools

# ===================================== #
# Visual Studio  MonoDevelop generated #
# ===================================== #
ExportedObj
.svd
.userprefs
.csproj
.pidb
.suo
.sln
.user
.unityproj
.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store
._
.Spotlight-V100
.Trashes
Icon
ehthumbs.db
Thumbs.db

Binaries/
Intermediate/
Saved/
ProjectName.opensdf
ProjectName.sdf
ProjectName.sln
ProjectName.v12.suo

# testing some lines #

DerivedDataCache
 